{erl_opts, [debug_info]}.

{project_plugins, [
  rebar3_hex,
  rebar3_ex_doc
]}.

{xref_checks, [undefined_function_calls]}.

{deps, []}.

{eunit_opts, [verbose]}.

{profiles, [
    {test, [
        {cover_enabled, true}
    ]}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
     {source_url, <<"https://github.com/odo/quantile_estimator">>},
     {main, <<"readme">>},
     {extras, [{'README.md', #{title => <<"Overview">>}},
               {'LICENSE', #{title => <<"License">>}}
              ]}
]}.
